<footer>
    <h2>&copy; 2023 Digital Album Collection</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums">View Collection</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/albums/new">Add an Album</a></li>
        </ul>
    </nav>
</footer>