<header>
    <a href="/">
        <h1>Digital Album Collection</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums">Collection</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/new">Add an Album</a></li>
        </ul>
    </nav>
</header>