<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: `About Us`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4>At <span class="vvv-title">Virtual Vinyl Vault</span>, we are dedicated to providing a premier platform for music enthusiasts to curate and preserve their beloved album collections. Our website serves as a professional and sophisticated space for individuals to store, organize, and explore the details of their favorite albums.</h4>
        </section>

        <section class="content">
            <h2>Our Purpose</h2>
            <p>The purpose of Virtual Vinyl Vault is twofold: to celebrate the artistry and craftsmanship of vinyl albums while offering a seamless and intuitive digital experience for our users. We believe that music transcends time and connects people across generations, and we strive to honor that spirit within our platform.</p>
            <p>Through Virtual Vinyl Vault, we aim to provide a comprehensive and reliable database where you can effortlessly document the essential details of your album collection. From band names and release years to genre classifications and tracklists, our platform empowers you to create a meticulously organized catalog that reflects your unique musical journey.</p>
            <h2>Features and Functionality</h2>
            <ul>
                <li>Intuitive Catalog Management: Seamlessly add albums to your collection, inputting essential details such as artist names, album titles, release dates, genres, and more. Our intuitive interface ensures a smooth and efficient catalog management process.</li>
                <li>Commenting System: Engage with other music enthusiasts by adding comments to albums. Share your thoughts, memories, and insights about specific albums, fostering a sense of community and connection within the Virtual Vinyl Vault platform.
                </li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>