body {
    background-color: #a7a7a7;
    font-family: 'Cinzel', serif;
}


.hero {
    height: 20vh;
    min-height: 175px;
    margin-bottom: 2rem;
    color: #000000;
    padding-top: 40px;
    font-family: 'Metal Mania';
}
.hero h2 {
    font-size: 70px;
    font-weight: 300;
}


form {
    width: 60%;
    min-width: 300px;
    margin: 0 auto 2rem auto;
    font-family: 'Cinzel', serif;
    
    
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    color: #000000;
    background-color: #ffffff;
    font-family: 'Cinzel', serif;

    
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    padding: 15px;
}

input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
    border: none;
}


.bg-image {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F1374557%2Fpexels-photo-1374557.jpeg%3Fcs%3Dsrgb%26dl%3Dvinyl-record-1374557.jpg%26fm%3Djpg&f=1&nofb=1&ipt=0ad58b14229aff68461ba72d053df5ccaf10097a3b1124a913c410b6b161ff81&ipo=images");
    filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
  }

  .comment h1 {
    padding-top: 50px;
  }



  .comment h3, p {
    padding-top: 20px;
    padding-bottom: 40px;
    
  }

